<div class="container">
  <form [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()">


    <div class="formGroup">
      <label for="name" class="form-label">Név*</label>
      <input type="text" id="name" formControlName="name"
        placeholder="Név" class="form-control">
    </div>
    

    <fieldset  class="border my-3 p-2 rounded">
      <label class="form-label">Cím</label>
    <div formGroupName="address">
      <div class="formGroup">
        <label for="city"
        class="form-label">Település</label>
        <input type="text" id="city" formControlName="city"
          placeholder="Település"
          class="form-control">
      </div>
      <div class="formGroup">
        <label for="street" class="form-label">Lakcím</label>
        <input type="text" id="street" formControlName="street"
          placeholder="Lakcím" class="form-control">
      </div>
    </div>
    </fieldset>

    <div class="formGroup">
      <label for="salary" class="form-label">Fizetés</label>
      <input type="text" id="salary" formControlName="salary"
        placeholder="Fizetés" class="form-control">
    </div>

    <fieldset class="border my-3 p-2 rounded">
      
    <div>
      <button type="button" (click)="addPhone()"
      class="btn btn-primary m-2">Telefont hozzáad</button>
    </div>

    <div formArrayName="phones">
      @for (phone of phones.controls; track phone; let i = $index) {      
          <div formGroupName="{{i}}">
            <div class="row">
              <div class="col">
                <label for="type" class="form-label">Típus</label>
                <input type="text" formControlName="type"
                  placeholder="otthoni, mobil stb"
                  class="form-control">
              </div>
              
              <div class="col">
                <label for="phone" class="form-label">Telefonszám</label>
                <input type="text" formControlName="phone"
                  placeholder="telefonszám"
                  class="form-control">
              </div>

              <div class="col d-flex align-items-end">
                <button type="button" (click)="removePhone(i)"
                class="btn btn-danger">Törlés</button>
              </div>

            </div>

          </div>
      }
    </div>
  </fieldset>
    <div>
      <button type="submit" [disabled]="!employeeForm.valid"
      class="btn btn-primary m-2">
        Mehet
      </button>
    </div>
  </form>
</div>
